<app-logout></app-logout>
<hr>
<br>
<div class="jumbtron">
    <h1 class="display-4 text-center">
        Order Control
    </h1>
    <hr>
    <div class="row">
        <div class="col-md-2">
    
        </div>
        <div class="col-md-3">
            <app-order-details-list></app-order-details-list>
        </div>
        <div class="col-md-5">
            <app-order-detail></app-order-detail>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
    
        </div>
        <div class="col-md-7">
            <!-- <a href="/orderhistory"></a> -->
            <!-- <app-order-history></app-order-history> -->
            <h2><a href="/orderhistory" style="color: black;">Order History</a></h2>
        </div>
        
    </div>
</div>

