<app-logout></app-logout>
<hr>
<br>

<div class="jumbtron">
    <h1 class="display-4 text-center">
        Order History
    </h1>
    <hr>
    <div class="row">
        <div class="col-md-1">
    
        </div>
        <div class="col-md-5">
            <app-order-lists></app-order-lists>
        </div>
        <div class="col-md-1">
    
        </div>
        <div class="col-md-4">
            <app-order-edit-form></app-order-edit-form>
        </div>
    </div>
    <br><br><br>
    <h2 class="display-4 text-center">
        Entire Order History
    </h2>
    <br>
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-5">
            <app-all-order-details></app-all-order-details>
        </div>
        <div class="col-md-3">
            
        </div>
        
    </div>
</div>